body {
    background-color: rgb(61, 61, 61);
    font-family: "Oswald", sans-serif;
}

.background,
.overlay,
.overlay2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.game-text {
    font-size: 100px;
    color: rgb(114, 114, 114);
    user-select: none;
}

.dev-text {
    font-size: 200px;
    color: rgb(114, 114, 114);
    user-select: none;
}

.canvas {
    border-bottom-color:rgb(175, 175, 175);
    border-bottom-width: 30px;
    border-bottom-style: solid;
}

.board {
    position: relative;
    height: 500px;
    width: 1000px;
}

.block {
    position: absolute;
    height: 30px;
    width: 30px;
}

.score {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 75px;
    color: rgb(114, 114, 114);
}